body {
    margin: 0;
    padding: 0;
}

.centrar-tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.text-black {
    height: 652px;
    width: 1052px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #4819a7
}

.card-content {
    display: flex;
    background-color: #ffffff;
}

.img-foto-portada {
    display: block;
    /* Asegura que la imagen se comporte como un bloque */
    margin: 0 auto;
    /* Centra horizontalmente la imagen */
    height: 550px;
    width: 700px;
}

.tarjeta {
    font-family: 'Arial', sans-serif;
    /* Ajusta según tu preferencia */
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #bfa5ff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido al centro horizontalmente */
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
    max-height: 600px;  /* Ajusta la altura máxima según tus necesidades */
}

h3 {
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form .input-box {
    /* width: 100%; */
    margin-top: 0px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px; /* Ajusta el margen inferior según tus preferencias */
    background: #fff;
  }

.form input {
    /* width: 100%; */
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    background: #fff;
}

.action-button {
    height: 40px;
    font-size: 1rem;
    /* margin-top: 15px; */
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #210062;
}

.action-button:hover {
    background: rgb(115, 69, 250);
}

.flex p {
    color: #000;
    text-align: center;
}

.error-box {
    background: #f00;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.text-error {
    color: #f00 !important;
    font-weight: bold;
    margin-top: 16px !important;
    margin-bottom: 0px !important;
    text-align: center;
}

div p {
    margin: 8px 0px 8px 0px;
}